/* Dùng chung cho cả bài */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

footer {
    background-color: white;
    padding: 40px 0;
}

.footer-container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.brand-logos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    width: 100%;
}

.brand-logos img {
    width: 150px;
}

.footer-links {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}


.footer-links h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.footer-links ul {
    list-style-type: none;
}

.footer-links ul li {
    margin-bottom: 8px;
}

.footer-links ul li a {
    text-decoration: none;
    color: #333;
}
.signup-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 400px;
    margin: 20px auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
}

/* Định dạng cho ô input */
.signup-container input {
    flex: 1; /* Chiếm hết không gian còn lại */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

/* Định dạng cho nút đăng ký */
.signup-container button {
    padding: 10px 20px;
    background-color: #333;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Hiệu ứng hover cho nút */
.signup-container button:hover {
    background-color: lightblue;
}


